@import url(reset.scss);
@import url(global.scss);
@import url(thyphography.scss);
@import url(buttons.scss);

body {
  font-family: var(--font-family);
}

.container {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1220px;
  padding: 1.5rem;
}
