.title {
  font-weight: 700;
  line-height: 1.4;

  &.one {
    font-size: 26px;
  }

  &.two {
    font-size: 22px;
  }

  &.three {
    font-size: 18px;
  }
}

.body {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
}

.Headline {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;

  &.body {
    font-size: 14px;
  }

  &.capition {
    font-size: 12px;
  }
}
